body {
    background-color: #000;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}



.content {
    background-color: #323232;
    color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 50px;
    border: thin solid black;
    font-family: "Times New Roman", Times, serif;
    
    display: flexbox;
    flex-direction: column;

}   

.content h2 {
    margin-top: 50px;
}

.competition h3 {
    margin-top: 30px;
}

.title {
    text-align:center;

    font-size:26px; letter-spacing:1px;

}

.title h1:after,.title h1:before {
    
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
}

.body {
    font-size: 13px;
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
    display: flexbox;
    flex-direction: column;
}

.employee-card {
    background-color: #323232;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-card img {
    max-width: 100%;
    border-radius: 50%;
}

.employee-card h3 {
    margin: 10px 0;
}

.employee-card ul, li {
    text-align: left;
    color: #ffffff;
}

.competition img {
    /*max-width: 80%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flexbox;
    flex-direction: column;
     
}

.link {
    color: #ffffff;
}